.dothings {
  margin-top: 1vh;
}

h4 {
  margin-bottom: 2vh;
}

#columnlabel {
  margin-bottom: 5px;
  font-weight: lighter;
}

#rowlabel {
  font-weight: lighter;
}

#clear {
  font-size: 1em;
}

.third {
  width: 5vw;
  display: inline-block;
  margin-top: 5px;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-width: 65px;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
