.StatsModal {
    position: absolute;
    width: 40vw;
    height: 40vh;
    bottom: 0;
    right: 0vw;
    background-color: var(--primary);
    color: var(--texthighlighted);
    outline: none;
    transition: .2s;
  }

  .stattab {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .tabbtn {
    height: 3rem;
    font-size: 1.5em;
    width: 33.333%;
    color: var(--text);
    display: inline-block;
    line-height: 2rem;
    opacity: .7;
  }

  .tabbtnselected {
    height: 3rem;
    font-size: 1.5em;
    width: 33.333%;
    display: inline-block;
    color: var(--texthighlighted);
    line-height: 2rem;
  }

  .tabbtn:hover, .tabbtn:focus, .tabbtn:active {
    background-color: inherit;
    opacity: 1;
  }

  .tabbtnselected:hover, .tabbtnselected:focus, .tabbtnselected:active {
    background-color: inherit;
  }

  .statpanel {
    bottom: 3rem;
    position: absolute;
    width: 90%;
    margin-left: 5%;
  }

  .setmodalinfo {
    margin-right: 20px;
    height: 75vh;
    min-width: 1000px;
  }

  .modalinfo > h {
    font-size: 48px;
  }

  .switches {
    float: right;
    padding-right: 30px;
    padding-top: 15px;
  }



  #statsicon {
    font-size: 2rem;
  }

  #statsicon:hover {
    background-color: inherit;
    border-radius: 10px;
  }

  #statsiconon {
    font-size: 2rem;
    color: var(--texthighlighted)
  }

  #statsiconon:hover {
    background-color: inherit;
    border-radius: 10px;
  }


  .tabs {
    float: left;
    display: block;
    width: 15%;
    height: 100%;
    min-width: 200px;
    margin-right: 0px;
    margin-top: 0px;
  }

  .setting {
    color: var(--texthighlighted);
    width: 100%;
    display: inline-block;
    font-size: 1.25rem;
    height: 60px;
    margin: 0 0 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-color: var(--text);
    border-bottom-width: 2px;
  }

  .desc {
    color: var(--text);
    margin-left: 20px;
    padding-bottom: 5px;
  }

  .presets {
    color: var(--texthighlighted);
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    height: 120px;
    margin: 0 0 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-color: var(--text);
    border-bottom-width: 2px;
    overflow: auto;
  }

  .select {
    margin-top: 30px;
    margin-left: 30px;
  }

  .custom {
    color: var(--texthighlighted);
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    height: 48vh;
    margin: 0 0 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
  }

  .theme {
    margin: 30px;
    min-width: 1000px;
  }

  .colorbuttons {
    float: left;
    width: 200px;
    margin-bottom: 0px;
  }

  .colors {
    float: left;
    margin: 0px 50px;
  }

  .savedthemes {
    overflow: auto;
    min-width: 100px;
    width: 270px;
    text-align: center;
    float: left;
    margin-top: -60px;
  }

  .unstyledlist {
    list-style-type: none;
    height: 430px;
    overflow: scroll;
    margin-top: 10px;

  }

  .themebtn {
    margin: 30px 0px;
    width: 190px;
    height: 42px;
    font-weight: 700;
    font-size: .65em;
    transition: .2s;
  }

  .themebtn:hover {
    cursor: pointer;
    filter: brightness(80%);
  }

  .deletetheme {
    width: 20px;
    float: right;
    margin-top: -65px;
    color: var(--text);
  }

  .deletetheme:hover {
    background-color: inherit;
  }

  .deletetheme:active {
    color: var(--texthighlighted);
  }




  .react-tabs {
    -webkit-tap-highlight-color: transparent;
  }

  .react-tabs__tab-list {
    margin: 0 0 0 0px;
    padding: 0;
  }

  .react-tabs__tab {
    color: var(--text);
    display: block;
    background: var(--tab);
    font-size: 1.5rem;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    width: 100%;

    transition: .2s;
  }

  .react-tabs__tab:hover {
    background: var(--tabselect);
  }

  .react-tabs__tab--selected {
    background: var(--tabselect);
    color: var(--texthighlighted);
  }

  .react-tabs__tab--disabled {
    color: var(--texthighlighted);
    cursor: default;
    padding: 0px;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .react-tabs__tab--disabled:hover {
    background-color: inherit;
  }

  .react-tabs__tab:focus {
    outline: none;
  }

  .react-tabs__tab-panel {
    display: none;
  }

  .react-tabs__tab-panel--selected {
    display: block;
    margin-top: 30px;
    margin-left: 10px;

  }

  .pages {
    margin-top: 0px;
    display: inline-block;
    position: relative;
    width: 80%;
    height: 75vh;
  }

  .gray-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #282c34;
    --button-primary-color-dark: #0d0f11;
    --button-primary-color-light: #d5dce2;
    --button-primary-color-hover: #1f2228;
    --button-primary-color-active: #1d2026;
    --button-primary-border: 0px;
  }

  .dark-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #1a1c21;
    --button-primary-color-dark: #000000;
    --button-primary-color-light: #d5dce2;
    --button-primary-color-hover: #131519;
    --button-primary-color-active: #0d0e11;
    --button-primary-border: 0px;
  }

  .light-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #d5dce2;
    --button-primary-color-dark: #a2a6aa;
    --button-primary-color-light: #282c34;
    --button-primary-color-hover: #bfc4c9;
    --button-primary-color-active: #b8bcc1;
    --button-primary-border: 0px solid #FFFFFF;
  }

  .blue-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #3da1ff;
    --button-primary-color-dark: #235f99;
    --button-primary-color-light: #0b1c2d;
    --button-primary-color-hover: #3186d6;
    --button-primary-color-active: #2a76bf;
    --button-primary-border: 0px solid #FFFFFF;
  }

  .dark-blue-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #000b16;
    --button-primary-color-dark: #000;
    --button-primary-color-light: #91c2ff;
    --button-primary-color-hover: #00070f;
    --button-primary-color-active: #2a76bf;
    --button-primary-border: 0px solid #FFFFFF;
  }

  .red-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #ff4949;
    --button-primary-color-dark: #b23333;
    --button-primary-color-light: #163859;
    --button-primary-color-hover: #e84343;
    --button-primary-color-active: #d13c3c;
    --button-primary-border: 0px solid #FFFFFF;
  }

  .dark-red-theme {
    margin-right: 20px;
    margin-bottom: 10px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.15s;
    --button-primary-color: #1c0000;
    --button-primary-color-dark: #000;
    --button-primary-color-light: #ff6363;
    --button-primary-color-hover: #380b0b;
    --button-primary-color-active: #230707;
    --button-primary-border: 0px solid #FFFFFF;
  }

  .primary {
    margin-right: 20px;
    margin-bottom: 30px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 0px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 0px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: var(--primary);
    --button-primary-color-dark: var(--primary);
    --button-primary-color-light: var(--text);
    --button-primary-color-hover: var(--buttonhover);
    --button-primary-color-active: var(--primary);
    --button-primary-border: 1px solid var(--text);
  }

  .secondary {
    margin-right: 20px;
    margin-bottom: 30px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 0px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 0px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: var(--secondary);
    --button-primary-color-dark: var(--secondary);
    --button-primary-color-light: var(--primary);
    --button-primary-color-hover: var(--buttonhover);
    --button-primary-color-active: var(--secondary);
    --button-primary-border: 0px solid var(--text);
  }

  .accent {
    margin-right: 20px;
    margin-bottom: 30px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 0px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 0px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: var(--accent);
    --button-primary-color-dark: var(--accent);
    --button-primary-color-light: var(--texthighlighted);
    --button-primary-color-hover: var(--buttonhover);
    --button-primary-color-active: var(--accent);
    --button-primary-border: 0px solid var(--texthighlighted);
  }

  .text {
    margin-right: 20px;
    margin-bottom: 30px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 0px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 0px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: var(--text);
    --button-primary-color-dark: var(--text);
    --button-primary-color-light: var(--primary);
    --button-primary-color-hover: var(--buttonhover);
    --button-primary-color-active: var(--text);
    --button-primary-border: 0px solid var(--texthighlighted);
  }

  .texthighlighted {
    margin-right: 20px;
    margin-bottom: 30px;
    --button-default-height: 51px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 0px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 0px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: var(--texthighlighted);
    --button-primary-color-dark: var(--texthighlighted);
    --button-primary-color-light: var(--primary);
    --button-primary-color-hover: var(--buttonhover);
    --button-primary-color-active: var(--texthighlighted);
    --button-primary-border: 0px solid var(--texthighlighted);
  }
