.StatsModal {
    position: absolute;
    width: 40vw;
    height: 50vh;
    bottom: 0;
    right: 0vw;
    background-color: var(--primary);
    color: var(--texthighlighted);
    outline: none;
    transition: .2s;
  }

  .stattab {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .tabbtn {
    height: 3rem;
    font-size: 1.5em;
    width: 33.333%;
    color: var(--text);
    display: inline-block;
    line-height: 2rem;
    opacity: .7;
  }

  .tabbtnselected {
    height: 3rem;
    font-size: 1.5em;
    width: 33.333%;
    display: inline-block;
    color: var(--texthighlighted);
    line-height: 2rem;
  }

  .tabbtn:hover, .tabbtn:focus, .tabbtn:active {
    background-color: inherit;
    opacity: 1;
  }

  .tabbtnselected:hover, .tabbtnselected:focus, .tabbtnselected:active {
    background-color: inherit;
  }

  .graphpanel {
    bottom: 1rem;
    position: absolute;
    width: 98%;
    margin-left: 1%;
  }
