:root {
  --primary: #282c34;
  --secondary: #444c59;
  --accent: #3fa8ff;
  --text: rgba(255, 255, 255, .6);
  --texthighlighted: #fff;
}

.timer {
  text-align: center;
  background-color: var(--primary);

  color: var(--texthighlighted);
}

#time {
  color: inherit;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(15vmin);
  overflow: hidden;
}

#average {
  bottom: 0vh;
  left: 30vw;
  right: 30vw;
  height: 10vh;
  background-color: inherit;
  display: block;
  position: absolute;
  align-items: center;
  color: var(--text);
  transition: .2s;
  font-size: calc(2.5vmin);
  min-width: 200px;
}

#average:hover {
  color: var(--texthighlighted);
}

#scramble {
  padding-top: 5vh;
  left: 20vw;
  right: 20vw;
  height: 10vh;
  background-color: inherit;
  display: block;
  position: absolute;
  align-items: center;
  color: var(--text);
  transition: .2s;
  font-size: calc(3vmin);
  min-width: 200px;
}

#scramble:hover {
  color: var(--texthighlighted);
}

#settings {
  margin-left: 95vw;
  margin-top: 2vw;
  background-color: inherit;
  display: block;
  position: absolute;
  color: var(--text);
  transition: .5s;
}

#settings:hover {
  color: var(--texthighlighted)
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
