:root {
  --primary: #1a1c21;
  --secondary: #efefef;
  --accent: #9621ff;
  --text: rgba(255, 255, 255, .6);
  --texthighlighted: #efefef;
  --dark: #0d0f11;
  --hover: #1f2228;
  --click: #1d2026;

  --tabselect: rgba(0, 0, 0, .3);
  --buttonhover: rgba(0, 0, 0, .2);
  --tab: var(--primary);

  --highlight: var(--texthighlighted);
}

.timer {
  text-align: center;
  background-color: var(--primary);
  transition: 0s;
  color: var(--secondary);
}

#time {
  color: inherit;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 144px;
  overflow: hidden;
}

#average {
  bottom: 0vh;
  left: 30vw;
  right: 30vw;
  height: 10vh;
  background-color: inherit;
  display: block;
  position: absolute;
  align-items: center;
  color: var(--text);
  transition: 0s;
  font-size: 24px;
  min-width: 200px;
}

#average:hover {
  color: var(--highlighted);
}

#scramble {
  padding-top: 5vh;
  left: 20vw;
  right: 20vw;
  height: 10vh;
  background-color: inherit;
  display: block;
  position: absolute;
  align-items: center;
  color: var(--text);
  transition: 0s;
  font-size: 28px;
  min-width: 200px;
}

#scramble:hover {
  color: var(--highlighted);
}

#settings {
  top: 3em;
  right: 1.5vw;
  background-color: inherit;
  display: block;
  position: absolute;
  color: var(--text);
  transition: 0s;
}

#settings:hover {
  color: var(--texthighlighted)
}

#stats {
  top: 6em;
  right: 1.5vw;
  background-color: inherit;
  display: block;
  position: absolute;
  color: var(--text);
  transition: 0s;
}

#statsicon {
  font-size: 2rem;
}

#statsicon:hover {
  background-color: inherit;
  border-radius: 10px;
}

#statsiconon {
  font-size: 2rem;
  color: var(--texthighlighted)
}

#statsiconon:hover {
  background-color: inherit;
  border-radius: 10px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media screen and (max-width: 1080px) {
    .log {
      top: 100vh;
      width: 100vw !important;
    }

    .logstats {
      width: 100vw !important;
    }

    .scroll {
      width: 100vw !important;
    }

    .av {
      width: 100vw;
      position: absolute;
    }

    .third {
      width: 33%;
    }

    .quarter {
      width: 25%;
    }

    .StatsModal {
      bottom: 250vh;
      top: 200vh;
      width: 100vw;
    }



    .tabs {
      display: inline-block;
      width: 100%;
      height: 135px;
      min-width: 100px;
      margin-right: 0px;
      margin-top: 0px;
    }

    .react-tabs__tab {
      display: inline-block;
      width: 33.3%;
    }

    .pages {
      width: 76vw;
      margin: 0px 2vw 0px 2vw;
      height: calc(80vh - 135px);
    }

    .react-tabs__tab-panel--selected {
      margin-left: 0px;
    }

    h2 {
      display: none;
    }

    .colorscontent {
      text-align: center;
    }

    .presets {
      height: 180px;
      margin: 0px;
      overflow: auto;
    }

    .custom {
      text-align: center;
      margin: 0px;
      height: 800px;
    }

    .colorbuttons {
      float: none;
      margin: 0px;
      margin-bottom: 30px;
    }

    .colors {
      display: block;
      margin-left: calc((76vw - 350px) / 2);
    }

    .saved {
      height: 300px;
      text-align: center;
    }

    .btnlist {
      margin: 0px;
    }

    .unstyledlist {
      margin: 0px;
    }

    .listitem {
      margin: 0px 20px;
    }

    .setting {
      height: 100px;
    }

  }
